<a href="https://colab.research.google.com/github/21alan/daa_20021_1/blob/master/21_10_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 5 )

total=1

In [ ]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 20 )

400

In [ ]:
def ejemplo3( n ): 
    x = n * 2 
    y = 0   
    for m in range( 100 ): 
        y = x - n   
    return y

ejemplo3(1000000000)

1000000000

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)

36.849599999999995

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10)

55

In [ ]:
from time import time
def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo6( 50 )

Tiempo transcurrido: 0.0170137882 segundos.

125000

In [ ]:
from time import time
def ejemplo2( n ):
    start_time = time()
    contador = 0
    print("aqui",n)
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return contador

for i in range(100,1100,100):
  print("contador",ejemplo2(i))

aqui 100
Tiempo transcurrido: 0.0006072521 segundos.
contador 10000
aqui 200
Tiempo transcurrido: 0.0018806458 segundos.
contador 40000
aqui 300
Tiempo transcurrido: 0.0071940422 segundos.
contador 90000
aqui 400
Tiempo transcurrido: 0.0111889839 segundos.
contador 160000
aqui 500
Tiempo transcurrido: 0.0128054619 segundos.
contador 250000
aqui 600
Tiempo transcurrido: 0.0190317631 segundos.
contador 360000
aqui 700
Tiempo transcurrido: 0.0290846825 segundos.
contador 490000
aqui 800
Tiempo transcurrido: 0.0338580608 segundos.
contador 640000
aqui 900
Tiempo transcurrido: 0.0421032906 segundos.
contador 810000
aqui 1000
Tiempo transcurrido: 0.0569205284 segundos.
contador 1000000

In [9]:
def ejemplo7( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
    return count
#1+25(n^2)
print(ejemplo7(3))

225

In [8]:
def ejemplo7_2( n ):
    count = 0
    for i in range( n ) :
        for j in range( 25 ) :
            for k in range( n ):
                count += 1
            for k in range( n ):
                count += 1
    return count # 1 + 25n^2 +25n^2
print(ejemplo7_2(3))

450

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
    total = 0
    for index in range(len(numeros)):
        total = numeros[index]
    return total
#1+n

In [ ]:
def ejemplo9(  n ):
    contador = 0
    basura = 0
    for i in range( n ) :
        contador += 1
    for j in range( n ) :
        contador += 1
    basura = basura + contador
    return contador

#3+2n
print(ejemplo9( 5 ))

In [11]:
def ejemplo10( n ):
    count = 0
    for i in range( n ) :
        for j in range( i+1 ) :
            count += 1
    return count
#1+n(i+1)

In [10]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count

print(ejemplo10(5))
#1+((n^2+n)/2)

15